@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* App.jsx */
div.body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
}

/* Me.jsx */
div.me {
  background-color: rgb(0, 0, 0);
  margin: 40px;
  padding: 0;
  box-sizing: border-box;
  color: #39ff14;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}
p.name {
  font-size: 30px;
}
