@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* App.jsx */
.body {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}

.PS {
  font-family: "Press Start 2P", cursive;
  color: #39ff14;
}
